body {
    background-color:#e3edf6;
    font-family:-apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI",Helvetica Neue,PingFang SC,Microsoft YaHei,sans-serif;
    margin-left:40px;
    margin-right:40px;
    margin-top:20px;
    margin-bottom:40px;
    line-height:150%;
}
h1 {
    color:#006691;
    text-align:center;
}
h2 {
    color:#79c2dd;
}
p {
    font-size:16px;
    color:#252525;
}
p.red{
    color:#cf111b;
}
p.blue{
    color:#274b84;
}
